services:
  auth-service:
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${DB_PREFIX}_auth_db
      JWT_ACCESS_TOKEN_EXPIRE_MINUTES: ${JWT_ACCESS_TOKEN_EXPIRE_MINUTES}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_REFRESH_TOKEN_EXPIRE_DAYS: ${JWT_REFRESH_TOKEN_EXPIRE_DAYS}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      PORT: '8000'
      REDIS_URL: redis://redis:6379/0
      SERVICE_NAME: auth-service
    extra_hosts:
    - ${POSTGRES_HOST}:host-gateway
    ports:
    - 8000:8000
    restart: unless-stopped
  dozzle:
    container_name: dozzle
    environment:
      DOZZLE_LEVEL: info
      DOZZLE_NO_ANALYTICS: true
      DOZZLE_TAILSIZE: 300
    image: amir20/dozzle:latest
    ports:
    - 8080:8080
    restart: unless-stopped
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
  redis:
    command: redis-server --appendonly yes
    healthcheck:
      interval: 10s
      retries: 3
      test:
      - CMD
      - redis-cli
      - ping
      timeout: 5s
    image: redis:7-alpine
    ports:
    - 6379:6379
    restart: unless-stopped
    volumes:
    - redis_data:/data
volumes:
  redis_data: null
