services:
  auth-service:
    build:
      context: .
      dockerfile: ./services/auth-service/Dockerfile
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${DB_PREFIX}_auth_db
      JWT_ACCESS_TOKEN_EXPIRE_MINUTES: ${JWT_ACCESS_TOKEN_EXPIRE_MINUTES}
      JWT_ISSUER: ${JWT_ISSUER}
      JWT_REFRESH_TOKEN_EXPIRE_DAYS: ${JWT_REFRESH_TOKEN_EXPIRE_DAYS}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      PORT: '8000'
      SERVICE_NAME: auth-service
    extra_hosts:
    - ${POSTGRES_HOST}:host-gateway
    ports:
    - 8000:8000
    restart: unless-stopped
  test-service:
    build:
      context: .
      dockerfile: ./services/test-service/Dockerfile
    environment:
      AUTH_SERVICE_URL: http://auth-service:8000
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${DB_PREFIX}_test_db
      PORT: '8002'
      SERVICE_NAME: test-service
    extra_hosts:
    - ${POSTGRES_HOST}:host-gateway
    ports:
    - 8002:8002
    restart: unless-stopped
  user-service:
    build:
      context: .
      dockerfile: ./services/user-service/Dockerfile
    environment:
      AUTH_SERVICE_URL: http://auth-service:8000
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${DB_PREFIX}_user_db
      PORT: '8001'
      SERVICE_NAME: user-service
    extra_hosts:
    - ${POSTGRES_HOST}:host-gateway
    ports:
    - 8001:8001
    restart: unless-stopped
